# Created by https://www.toptal.com/developers/gitignore/api/ansible,vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=ansible,vscode

### Ansible ###
*.retry

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/ansible,vscode

# Add to .gitignore for no accidentally commits of private Config!
host_vars/PI-3/PI-3.yml
host_vars/PI-3-WIFI/PI-3-WIFI.yml
host_vars/PI-Zero/PI-Zero.yml
vars/system.yml
vars/user.yml
