<!DOCTYPE html>
<html lang="de">

<head>
  <title>Inhalt</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <h1>Inhalt</h1>
    <div class="list-group">
      <a href="/" class="list-group-item list-group-item-action">Nginx</a>
      {% if 'dokuwiki' in role_names %}
      <a href="/dokuwiki" class="list-group-item list-group-item-action">Dokuwiki</a>
      {% endif %}
      {% if 'pihole' in role_names %}
      <a href="/pihole/admin" class="list-group-item list-group-item-action">PiHole</a>
      {% endif %}
      {% if 'portainer' in role_names %}
      <a href="/portainer" class="list-group-item list-group-item-action">Portainer</a>
      {% endif %}
    </div>
  </div>

</body>

</html>